<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>europe</key>
	<array>
		<dict>
			<key>alpha3Code</key>
			<string>ALA</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Mariehamn</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/ala.svg</string>
			<key>name</key>
			<string>Åland Islands</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>ALB</string>
			<key>borders</key>
			<array>
				<string>MNE</string>
				<string>GRC</string>
				<string>MKD</string>
				<string>KOS</string>
			</array>
			<key>capital</key>
			<string>Tirana</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/alb.svg</string>
			<key>name</key>
			<string>Albania</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>AND</string>
			<key>borders</key>
			<array>
				<string>FRA</string>
				<string>ESP</string>
			</array>
			<key>capital</key>
			<string>Andorra la Vella</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/and.svg</string>
			<key>name</key>
			<string>Andorra</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>AUT</string>
			<key>borders</key>
			<array>
				<string>CZE</string>
				<string>DEU</string>
				<string>HUN</string>
				<string>ITA</string>
				<string>LIE</string>
				<string>SVK</string>
				<string>SVN</string>
				<string>CHE</string>
			</array>
			<key>capital</key>
			<string>Vienna</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/aut.svg</string>
			<key>name</key>
			<string>Austria</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>BLR</string>
			<key>borders</key>
			<array>
				<string>LVA</string>
				<string>LTU</string>
				<string>POL</string>
				<string>RUS</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Minsk</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/blr.svg</string>
			<key>name</key>
			<string>Belarus</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>BEL</string>
			<key>borders</key>
			<array>
				<string>FRA</string>
				<string>DEU</string>
				<string>LUX</string>
				<string>NLD</string>
			</array>
			<key>capital</key>
			<string>Brussels</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/bel.svg</string>
			<key>name</key>
			<string>Belgium</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>BIH</string>
			<key>borders</key>
			<array>
				<string>HRV</string>
				<string>MNE</string>
				<string>SRB</string>
			</array>
			<key>capital</key>
			<string>Sarajevo</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/bih.svg</string>
			<key>name</key>
			<string>Bosnia and Herzegovina</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>BGR</string>
			<key>borders</key>
			<array>
				<string>GRC</string>
				<string>MKD</string>
				<string>ROU</string>
				<string>SRB</string>
				<string>TUR</string>
			</array>
			<key>capital</key>
			<string>Sofia</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/bgr.svg</string>
			<key>name</key>
			<string>Bulgaria</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>HRV</string>
			<key>borders</key>
			<array>
				<string>BIH</string>
				<string>HUN</string>
				<string>MNE</string>
				<string>SRB</string>
				<string>SVN</string>
			</array>
			<key>capital</key>
			<string>Zagreb</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/hrv.svg</string>
			<key>name</key>
			<string>Croatia</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>CYP</string>
			<key>borders</key>
			<array>
				<string>GBR</string>
			</array>
			<key>capital</key>
			<string>Nicosia</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/cyp.svg</string>
			<key>name</key>
			<string>Cyprus</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>CZE</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>DEU</string>
				<string>POL</string>
				<string>SVK</string>
			</array>
			<key>capital</key>
			<string>Prague</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/cze.svg</string>
			<key>name</key>
			<string>Czech Republic</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>DNK</string>
			<key>borders</key>
			<array>
				<string>DEU</string>
			</array>
			<key>capital</key>
			<string>Copenhagen</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/dnk.svg</string>
			<key>name</key>
			<string>Denmark</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>EST</string>
			<key>borders</key>
			<array>
				<string>LVA</string>
				<string>RUS</string>
			</array>
			<key>capital</key>
			<string>Tallinn</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/est.svg</string>
			<key>name</key>
			<string>Estonia</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>FRO</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Tórshavn</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/fro.svg</string>
			<key>name</key>
			<string>Faroe Islands</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>FIN</string>
			<key>borders</key>
			<array>
				<string>NOR</string>
				<string>SWE</string>
				<string>RUS</string>
			</array>
			<key>capital</key>
			<string>Helsinki</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/fin.svg</string>
			<key>name</key>
			<string>Finland</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>FRA</string>
			<key>borders</key>
			<array>
				<string>AND</string>
				<string>BEL</string>
				<string>DEU</string>
				<string>ITA</string>
				<string>LUX</string>
				<string>MCO</string>
				<string>ESP</string>
				<string>CHE</string>
			</array>
			<key>capital</key>
			<string>Paris</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/fra.svg</string>
			<key>name</key>
			<string>France</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>DEU</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>BEL</string>
				<string>CZE</string>
				<string>DNK</string>
				<string>FRA</string>
				<string>LUX</string>
				<string>NLD</string>
				<string>POL</string>
				<string>CHE</string>
			</array>
			<key>capital</key>
			<string>Berlin</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/deu.svg</string>
			<key>name</key>
			<string>Germany</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>GIB</string>
			<key>borders</key>
			<array>
				<string>ESP</string>
			</array>
			<key>capital</key>
			<string>Gibraltar</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/gib.svg</string>
			<key>name</key>
			<string>Gibraltar</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>GRC</string>
			<key>borders</key>
			<array>
				<string>ALB</string>
				<string>BGR</string>
				<string>TUR</string>
				<string>MKD</string>
			</array>
			<key>capital</key>
			<string>Athens</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/grc.svg</string>
			<key>name</key>
			<string>Greece</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>GGY</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>St. Peter Port</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/ggy.svg</string>
			<key>name</key>
			<string>Guernsey</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>VAT</string>
			<key>borders</key>
			<array>
				<string>ITA</string>
			</array>
			<key>capital</key>
			<string>Vatican City</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/vat.svg</string>
			<key>name</key>
			<string>Holy See</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>HUN</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>HRV</string>
				<string>ROU</string>
				<string>SRB</string>
				<string>SVK</string>
				<string>SVN</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Budapest</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/hun.svg</string>
			<key>name</key>
			<string>Hungary</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>ISL</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Reykjavík</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/isl.svg</string>
			<key>name</key>
			<string>Iceland</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>IRL</string>
			<key>borders</key>
			<array>
				<string>GBR</string>
			</array>
			<key>capital</key>
			<string>Dublin</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/irl.svg</string>
			<key>name</key>
			<string>Ireland</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>IMN</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Douglas</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/imn.svg</string>
			<key>name</key>
			<string>Isle of Man</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>ITA</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>FRA</string>
				<string>SMR</string>
				<string>SVN</string>
				<string>CHE</string>
				<string>VAT</string>
			</array>
			<key>capital</key>
			<string>Rome</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/ita.svg</string>
			<key>name</key>
			<string>Italy</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>JEY</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Saint Helier</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/jey.svg</string>
			<key>name</key>
			<string>Jersey</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>LVA</string>
			<key>borders</key>
			<array>
				<string>BLR</string>
				<string>EST</string>
				<string>LTU</string>
				<string>RUS</string>
			</array>
			<key>capital</key>
			<string>Riga</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/lva.svg</string>
			<key>name</key>
			<string>Latvia</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>LIE</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>CHE</string>
			</array>
			<key>capital</key>
			<string>Vaduz</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/lie.svg</string>
			<key>name</key>
			<string>Liechtenstein</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>LTU</string>
			<key>borders</key>
			<array>
				<string>BLR</string>
				<string>LVA</string>
				<string>POL</string>
				<string>RUS</string>
			</array>
			<key>capital</key>
			<string>Vilnius</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/ltu.svg</string>
			<key>name</key>
			<string>Lithuania</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>LUX</string>
			<key>borders</key>
			<array>
				<string>BEL</string>
				<string>FRA</string>
				<string>DEU</string>
			</array>
			<key>capital</key>
			<string>Luxembourg</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/lux.svg</string>
			<key>name</key>
			<string>Luxembourg</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>MKD</string>
			<key>borders</key>
			<array>
				<string>ALB</string>
				<string>BGR</string>
				<string>GRC</string>
				<string>KOS</string>
				<string>SRB</string>
			</array>
			<key>capital</key>
			<string>Skopje</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/mkd.svg</string>
			<key>name</key>
			<string>Macedonia (the former Yugoslav Republic of)</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>MLT</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Valletta</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/mlt.svg</string>
			<key>name</key>
			<string>Malta</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>MDA</string>
			<key>borders</key>
			<array>
				<string>ROU</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Chișinău</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/mda.svg</string>
			<key>name</key>
			<string>Republic of Moldova</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>MCO</string>
			<key>borders</key>
			<array>
				<string>FRA</string>
			</array>
			<key>capital</key>
			<string>Monaco</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/mco.svg</string>
			<key>name</key>
			<string>Monaco</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>MNE</string>
			<key>borders</key>
			<array>
				<string>ALB</string>
				<string>BIH</string>
				<string>HRV</string>
				<string>KOS</string>
				<string>SRB</string>
			</array>
			<key>capital</key>
			<string>Podgorica</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/mne.svg</string>
			<key>name</key>
			<string>Montenegro</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>NLD</string>
			<key>borders</key>
			<array>
				<string>BEL</string>
				<string>DEU</string>
			</array>
			<key>capital</key>
			<string>Amsterdam</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/nld.svg</string>
			<key>name</key>
			<string>Netherlands</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>NOR</string>
			<key>borders</key>
			<array>
				<string>FIN</string>
				<string>SWE</string>
				<string>RUS</string>
			</array>
			<key>capital</key>
			<string>Oslo</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/nor.svg</string>
			<key>name</key>
			<string>Norway</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>POL</string>
			<key>borders</key>
			<array>
				<string>BLR</string>
				<string>CZE</string>
				<string>DEU</string>
				<string>LTU</string>
				<string>RUS</string>
				<string>SVK</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Warsaw</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/pol.svg</string>
			<key>name</key>
			<string>Poland</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>PRT</string>
			<key>borders</key>
			<array>
				<string>ESP</string>
			</array>
			<key>capital</key>
			<string>Lisbon</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/prt.svg</string>
			<key>name</key>
			<string>Portugal</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>KOS</string>
			<key>borders</key>
			<array>
				<string>ALB</string>
				<string>MKD</string>
				<string>MNE</string>
				<string>SRB</string>
			</array>
			<key>capital</key>
			<string>Pristina</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/kos.svg</string>
			<key>name</key>
			<string>Republic of Kosovo</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>ROU</string>
			<key>borders</key>
			<array>
				<string>BGR</string>
				<string>HUN</string>
				<string>MDA</string>
				<string>SRB</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Bucharest</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/rou.svg</string>
			<key>name</key>
			<string>Romania</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>RUS</string>
			<key>borders</key>
			<array>
				<string>AZE</string>
				<string>BLR</string>
				<string>CHN</string>
				<string>EST</string>
				<string>FIN</string>
				<string>GEO</string>
				<string>KAZ</string>
				<string>PRK</string>
				<string>LVA</string>
				<string>LTU</string>
				<string>MNG</string>
				<string>NOR</string>
				<string>POL</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Moscow</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/rus.svg</string>
			<key>name</key>
			<string>Russian Federation</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>SMR</string>
			<key>borders</key>
			<array>
				<string>ITA</string>
			</array>
			<key>capital</key>
			<string>City of San Marino</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/smr.svg</string>
			<key>name</key>
			<string>San Marino</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>SRB</string>
			<key>borders</key>
			<array>
				<string>BIH</string>
				<string>BGR</string>
				<string>HRV</string>
				<string>HUN</string>
				<string>KOS</string>
				<string>MKD</string>
				<string>MNE</string>
				<string>ROU</string>
			</array>
			<key>capital</key>
			<string>Belgrade</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/srb.svg</string>
			<key>name</key>
			<string>Serbia</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>SVK</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>CZE</string>
				<string>HUN</string>
				<string>POL</string>
				<string>UKR</string>
			</array>
			<key>capital</key>
			<string>Bratislava</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/svk.svg</string>
			<key>name</key>
			<string>Slovakia</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>SVN</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>HRV</string>
				<string>ITA</string>
				<string>HUN</string>
			</array>
			<key>capital</key>
			<string>Ljubljana</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/svn.svg</string>
			<key>name</key>
			<string>Slovenia</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>ESP</string>
			<key>borders</key>
			<array>
				<string>AND</string>
				<string>FRA</string>
				<string>GIB</string>
				<string>PRT</string>
				<string>MAR</string>
			</array>
			<key>capital</key>
			<string>Madrid</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/esp.svg</string>
			<key>name</key>
			<string>Spain</string>
			<key>subregion</key>
			<string>Southern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>SJM</string>
			<key>borders</key>
			<array/>
			<key>capital</key>
			<string>Longyearbyen</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/sjm.svg</string>
			<key>name</key>
			<string>Svalbard and Jan Mayen</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>SWE</string>
			<key>borders</key>
			<array>
				<string>FIN</string>
				<string>NOR</string>
			</array>
			<key>capital</key>
			<string>Stockholm</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/swe.svg</string>
			<key>name</key>
			<string>Sweden</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>CHE</string>
			<key>borders</key>
			<array>
				<string>AUT</string>
				<string>FRA</string>
				<string>ITA</string>
				<string>LIE</string>
				<string>DEU</string>
			</array>
			<key>capital</key>
			<string>Bern</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/che.svg</string>
			<key>name</key>
			<string>Switzerland</string>
			<key>subregion</key>
			<string>Western Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>UKR</string>
			<key>borders</key>
			<array>
				<string>BLR</string>
				<string>HUN</string>
				<string>MDA</string>
				<string>POL</string>
				<string>ROU</string>
				<string>RUS</string>
				<string>SVK</string>
			</array>
			<key>capital</key>
			<string>Kiev</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/ukr.svg</string>
			<key>name</key>
			<string>Ukraine</string>
			<key>subregion</key>
			<string>Eastern Europe</string>
		</dict>
		<dict>
			<key>alpha3Code</key>
			<string>GBR</string>
			<key>borders</key>
			<array>
				<string>IRL</string>
			</array>
			<key>capital</key>
			<string>London</string>
			<key>flag</key>
			<string>https://restcountries.eu/data/gbr.svg</string>
			<key>name</key>
			<string>United Kingdom of Great Britain and Northern Ireland</string>
			<key>subregion</key>
			<string>Northern Europe</string>
		</dict>
	</array>
	<key>africa</key>
	<array/>
	<key>north/central america &amp; carribeans</key>
	<array/>
	<key>south america</key>
	<array/>
	<key>asia</key>
	<array/>
	<key>oceania</key>
	<array/>
</dict>
</plist>
