<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>countries</key>
		<array>
            <dict>
                <key>capital</key>
                <string>Mariehamn</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/ala.svg</string>
                <key>name</key>
                <string>Åland Islands</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Tirana</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/alb.svg</string>
                <key>name</key>
                <string>Albania</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Andorra la Vella</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/and.svg</string>
                <key>name</key>
                <string>Andorra</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Vienna</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/aut.svg</string>
                <key>name</key>
                <string>Austria</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Minsk</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/blr.svg</string>
                <key>name</key>
                <string>Belarus</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Brussels</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/bel.svg</string>
                <key>name</key>
                <string>Belgium</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Sarajevo</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/bih.svg</string>
                <key>name</key>
                <string>Bosnia and Herzegovina</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Sofia</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/bgr.svg</string>
                <key>name</key>
                <string>Bulgaria</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Zagreb</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/hrv.svg</string>
                <key>name</key>
                <string>Croatia</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Nicosia</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/cyp.svg</string>
                <key>name</key>
                <string>Cyprus</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Prague</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/cze.svg</string>
                <key>name</key>
                <string>Czech Republic</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Copenhagen</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/dnk.svg</string>
                <key>name</key>
                <string>Denmark</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Tallinn</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/est.svg</string>
                <key>name</key>
                <string>Estonia</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Tórshavn</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/fro.svg</string>
                <key>name</key>
                <string>Faroe Islands</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Helsinki</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/fin.svg</string>
                <key>name</key>
                <string>Finland</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Paris</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/fra.svg</string>
                <key>name</key>
                <string>France</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Berlin</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/deu.svg</string>
                <key>name</key>
                <string>Germany</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Gibraltar</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/gib.svg</string>
                <key>name</key>
                <string>Gibraltar</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Athens</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/grc.svg</string>
                <key>name</key>
                <string>Greece</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>St. Peter Port</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/ggy.svg</string>
                <key>name</key>
                <string>Guernsey</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Rome</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/vat.svg</string>
                <key>name</key>
                <string>Holy See</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Budapest</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/hun.svg</string>
                <key>name</key>
                <string>Hungary</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Reykjavík</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/isl.svg</string>
                <key>name</key>
                <string>Iceland</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Dublin</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/irl.svg</string>
                <key>name</key>
                <string>Ireland</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Douglas</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/imn.svg</string>
                <key>name</key>
                <string>Isle of Man</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Rome</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/ita.svg</string>
                <key>name</key>
                <string>Italy</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Saint Helier</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/jey.svg</string>
                <key>name</key>
                <string>Jersey</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Riga</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/lva.svg</string>
                <key>name</key>
                <string>Latvia</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Vaduz</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/lie.svg</string>
                <key>name</key>
                <string>Liechtenstein</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Vilnius</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/ltu.svg</string>
                <key>name</key>
                <string>Lithuania</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Luxembourg</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/lux.svg</string>
                <key>name</key>
                <string>Luxembourg</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Skopje</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/mkd.svg</string>
                <key>name</key>
                <string>Macedonia (the former Yugoslav Republic of)</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Valletta</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/mlt.svg</string>
                <key>name</key>
                <string>Malta</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Chișinău</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/mda.svg</string>
                <key>name</key>
                <string>Moldova (Republic of)</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Monaco</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/mco.svg</string>
                <key>name</key>
                <string>Monaco</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Podgorica</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/mne.svg</string>
                <key>name</key>
                <string>Montenegro</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Amsterdam</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/nld.svg</string>
                <key>name</key>
                <string>Netherlands</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Oslo</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/nor.svg</string>
                <key>name</key>
                <string>Norway</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Warsaw</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/pol.svg</string>
                <key>name</key>
                <string>Poland</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Lisbon</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/prt.svg</string>
                <key>name</key>
                <string>Portugal</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Pristina</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/kos.svg</string>
                <key>name</key>
                <string>Republic of Kosovo</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Bucharest</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/rou.svg</string>
                <key>name</key>
                <string>Romania</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Moscow</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/rus.svg</string>
                <key>name</key>
                <string>Russian Federation</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>City of San Marino</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/smr.svg</string>
                <key>name</key>
                <string>San Marino</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Belgrade</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/srb.svg</string>
                <key>name</key>
                <string>Serbia</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Bratislava</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/svk.svg</string>
                <key>name</key>
                <string>Slovakia</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Ljubljana</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/svn.svg</string>
                <key>name</key>
                <string>Slovenia</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Madrid</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/esp.svg</string>
                <key>name</key>
                <string>Spain</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Longyearbyen</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/sjm.svg</string>
                <key>name</key>
                <string>Svalbard and Jan Mayen</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Stockholm</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/swe.svg</string>
                <key>name</key>
                <string>Sweden</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Bern</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/che.svg</string>
                <key>name</key>
                <string>Switzerland</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>Kiev</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/ukr.svg</string>
                <key>name</key>
                <string>Ukraine</string>
            </dict>
            <dict>
                <key>capital</key>
                <string>London</string>
                <key>flag</key>
                <string>https://restcountries.eu/data/gbr.svg</string>
                <key>name</key>
                <string>United Kingdom of Great Britain and Northern Ireland</string>
            </dict>
        </array>
	</dict>
</plist>
